html,
body {
    height: 100%;
}

h5 {
    font-size: 0.9rem;
    color: #6c757d;
}

h6 {
    font-size: 0.75rem;
    color: #6c757d;
    margin-top: 0.5rem;
}

input[type=radio] {
    margin-right: .3125rem;
}

output {
    position: absolute;
    display: none;
    background-color: #fff;
    opacity: 0.8;
    border-radius: 3px;
    color: #777;
    font-size: .8em;
    text-align: center;
}

g.x_axis path, g.y_axis path {
    stroke: lightgray;
    stroke-width: 1px;
}

g.x_axis line, g.y_axis line{
    stroke: lightgray;
    stroke-opacity: 0.7;
    shape-rendering: crispEdges;
}

label.menuLabel {
    padding: 0px 0.8rem 0px 0px !important;
    margin-bottom: 0px;
}

table#extractionDetailInfoTable {
    margin: 0.5rem 0px;
}

table#extractionDetailInfoTable td {
    border: 1px solid #DFD7CA;
    padding: 2px 4px;
}

.axisLabel {
    color: #3E3F3A;
}

.tooltip {
    padding: 3px 10px 3px 10px;
    position: absolute;
    pointer-events: none;
    background: white;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    font-size: 0.8rem;
    text-transform: capitalize;
}

.overlayPanel {
    padding: 3px 10px 3px 10px;
    position: absolute;
    background: white;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    font-size: 0.8rem;
}

.indentedRadio {
    margin-left: 1rem;
}

.featureColumn {
    min-height: 100vh;
}

.form-group {
    margin-bottom: 0.2rem;
}

.scatterplotsViewports {
    display:block;
    overflow-y: scroll;
    overflow-x: hidden;
}

.closePanel {
    background-color: #e6e6e6;
    color: #596066;
    font-size: 0.7rem;
    margin-top: 0.3rem;
    margin-bottom: 0.5rem;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
}

.controllersElem {
    padding: 10px 15px;
}

.btn {
    margin-right: 0.1rem;
}

.btn-sm {
    height: 1.5rem;
    font-size: 0.7rem;
    line-height: 0.8rem;
}

.sub {
    width: 1.5rem;
}

.add {
    width: 1.5rem;
}

.custom-select {
    padding: 1px 5px;
}

.scatterplot {
    float: left;
}

.popover-controller {
    background-color: white;
    padding: 10px;
    border: solid;
    border-width: 1px;
    border-radius: 3px;
    border-color: dimgray;
}

.form-check-inline.menuItem {
    margin-right: 0px;
    padding-left: 0.5rem;
}
.form-check-input.menuCheck {
    margin-right: 0px;
    margin-left: 0px;
}

.detailTable {
    border-collapse:  collapse;
}

.matchingOption {
    margin-bottom: 0.5rem;
}

/* tr, td */
.detailTableRow .detailTableData {
    font-size: 0.8rem;
    border: solid 1px;
    border-color: dimgray;
    padding: 2px 7px;
}

.detailTableVari {
    font-style: italic;
}

.dropdownonTubeMenu {
    font-size: 0.875rem;
    color: #3E3F3A;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 0.25rem;
}

.outerContainer {
    display: inline-block;
    /*min-width: 100%;*/
}

.collapseBtn {
    position: absolute;
    font-size: 0.8rem;
    font-weight: bold;
    height: 1.5rem;
    /*top: 20px;*/
    /*left: 16%;*/
    /*border-radius: 5px 5px 0 0;*/
    background-color: #f8f9fa;
    border-style: none;
    /*transform: rotate(90deg);*/
}

.controllersOnView {
    margin: 0.2rem 1rem;
}

.maincontainer {
    display: flex;
    height: 100%;
}

.right {
    width: 25%;
    height: 100vh;
}

.contents{
    flex: 1;
    width: 100%;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

.custom-input {
    height: 1.5rem !important;
    border-radius: 3.2px !important;
}

.form-row {
    margin-right: 0px;
    margin-left: 0px;
}

.featureElem {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.featureRow {
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
}

.selectedLine {
    cursor: pointer;
    stroke: #d23430;
}

.resultElem {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.resultSummary {
    font-size: 0.8rem;
    width: 164px;
    /* height: 310px; */
    padding: 5px 7px;
    float: left;
    background-color: #fff;
    border: 1px solid rgba(223, 215, 202, 0.75);
    border-radius: 5px;
    z-index: 1000;
}

.resultSummaryCanvas {
    width: 150px;
    height: 150px;
}

.filteredRange {
    stroke: #80b139;
    stroke-width: 4px;
}

.filteredRangeTop {
    stroke: #80b139;
    stroke-width: 2px;
}

.filteredRangeBottom {
    stroke: #80b139;
    stroke-width: 2px;
}

.drag {
    z-index: 2000;
}

.overlayHidingPanel {
    width: 100%;
    height: 100%;
    background-color: rgba(82, 20, 19, 0.5);
    position: absolute;
    display: none;
    z-index: 1500;
}

.featureArea {
    font-size: 0.8rem;
}

.selectorIcon {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

img.selectorIcon:hover {
    opacity: 0.5;
    cursor: pointer;
}

img.selectorIcon:active {
    position: relative;
    top: 3px;
}

.selectorIcon.selected {
    background-color: rgba(210, 52, 48, 0.5);
    /* display: block; */
}

.selectorIcon.disabled {
    background-color: rgba(48, 47, 44, 0.5);
}

.formPopup {
    display: none;
    z-index: 1500;
    padding: 10px;
    filter:drop-shadow(5px 5px 5px #888888);
}

.clusteringPanel {
    /* height: 100vh; */
}

#commentFormFeatureExtraction {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid #F47C3C;
    border-radius: 5px;
    background-color: white;
}

#importResultsForm {
    position: absolute;
    right: 140px;
    top: 0px;
    /* transform: translate(0%, -50%); */
    border: 3px solid #DFD7CA;
    border-radius: 5px;
    background-color: white;
}

.formContainer {
    max-width: 400px;
}

.commentsArea {
    padding: 15px 30px;
}

.privateCommentHeader {
    text-align: center;
}

.privateCommentHeader th+th {
    border-left: 2px solid #DFD7CA;
}

.privateCommentBody td+td {
    border-left: 1px solid #DFD7CA;
}

/* arrows for tablesorter https://kinocolog.com/tablesorter/*/
.tablesorter th{
    position: relative;
    cursor: pointer;
    text-align: left;
}
.tablesorter th::before, .tablesorter th::after{
    content: '';
    position: absolute;
    z-index: 2;
    right: 7px;
    width: 0;
    height: 0;
    border: 4px dashed;
    border-color: #333 transparent;
    pointer-events: none;
}
.tablesorter th::before{
    border-bottom-style: solid;
    border-top: none;
    top: 30%;
}
.tablesorter th::after{
    border-top-style: solid;
    border-bottom: none;
    bottom: 30%;
}
.tablesorter th.tablesorter-headerAsc:after{
    border: none;
}
.tablesorter th.tablesorter-headerAsc:before{
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
.tablesorter th.tablesorter-headerDesc:before{
    border: none;
}
.tablesorter th.tablesorter-headerDesc:after{
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
.tablesorter th.sorter-false:before, .tablesorter th.sorter-false:after{
    border: none;
}

.resultMenu {
    height: 2rem;
    line-height: 2rem;
}

.resultAreaElem {
    background-color: #fff;
    border: 1px solid #DFD7CA;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    width: 100%;
    max-width: 100%;
}

.commentRow:after {
    content: '';
    display: table;
    clear: both;
}

.commentColumn {
    float: left;
}

.aboutContainer {
    margin: 15px 0px;
}

.aboutIcons {
    margin-left: 10px;
    margin-right: 5px;
}

.authorList {
    margin: 10px 5px;
}

.colormapArea {
    position: relative;
}

/* .colormap {
    position: relative;
} */

.currentColor {
    position: absolute;
    height: 5px;
    width: 5px;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
}

.colormapFile {
    display: none;
}

.fileMask span {
    display:block;
    background-image:url(../img/1_256.png);
    background-size: 150px 150px;
	background-position:left top;
	height:150px;
	width:150px;
	cursor:pointer;
}

.fileMask span:hover {
    background-position:left bottom;
}

.colormapOptions {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.colormapOption {
    margin-right: 0.3rem;
    width: 30px;
    height: 30px;
}

.colormapOption:hover {
    box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
    transform: translateY(-2px);
    transition-duration: 0.2s;
}

.colormapCanvas {
    display: none;
	height:150px;
	width:150px;
	cursor:pointer;
}

.caution {
    display: inline-block;
    font-size: 0.6rem;
    color: #f26418;
    margin-bottom: 0.5rem;
}
/*#Controllers {*/
    /*background: #f8f9fa;*/
    /*font-size: 0.8rem;*/
    /*padding: 0.5rem 0px 1rem 0px;*/
    /*!*width: 16%;*!*/
    /*width: 250px;*/
    /*float: left;*/
/*}*/

#about {
    overflow-y: scroll;
    height: 100vh;
}

#scatterplotsArea {
    padding: 0px;
    margin: 0px;
}

#tubeControllers {
    height: 2rem;
}

#TimeTubesMenu ul {
    padding-left: 1rem;
    padding-right: 1rem;
}

#TimeTubesMenu ul+ul {
    border-left:1px solid white;
}

#resultTimelinesArea .row+.row {
    border-top: 2px dotted #8E8C84;
    margin-top: 5px;
}

#detailValueArea {
    background-color: rgba(0, 0, 0, 0.5);
}

#TimeTubesViewports {
    overflow-x: scroll;
    overflow-y: hidden;
    /*width: 100%;*/
    float: left;
}

#scatterplotsArea {
    overflow-x: scroll;
    overflow-y: hidden;
}

#collapseSidebar {
    float: left;
    z-index: 1010;
}

#collapseFeature {
    float: right;
    right: 0px;
    z-index: 1020;
}

#Feature {
    width: 100%;
    height: 100vh;
    background: #f8f9fa;
    float: right;
    padding: 0.5rem 0px 1rem 0px;
}

#extractionMenu {
    float: left;
    width: 30%;
    /* margin-bottom: 15px; */
}

#extractionResults {
    float: right;
    width: 70%;
    background-color: #F8F5F0;
    position: relative;
}

#clusteringResults {
    float: right;
    width: 70%;
    background-color: #F8F5F0;
    position: relative;
}

#collapseSourcePanel{
    z-index: 100;
}

#resultDetailArea {
    background-color: #fff;
    border: 1px solid #DFD7CA;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    width: 100%;
    max-width: 100%;
}

#extractionDetailLC {
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%;
}

#automaticExtractionQuerying {
    font-size: 0.8rem;
}

/* #resultTimelinesArea {
    background-color: #fff;
    border: 1px solid #DFD7CA;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    width: 100%;
    max-width: 100%;
} */

#loading {
    display: table;
    /* width: 100%;
    height: 100%; */
    position: absolute;
    top: 10%;
    left: 50%;
    background-color: #fff;
    opacity: 0.8;
}

#matchingStatus {
    text-align: center;
    width: 100%;
}

#mainCommentsArea {
    /* background-color: #F8F5F0; */
    font-size: 0.8rem;
    min-height: 100vh;
}

#commentTableArea {
    width: 70%;
    min-height: 100vh;
    padding-top: 15px;
    padding-bottom: 15px;
}

#commentDetailArea {
    width: 30%;
    min-height: 100vh;
    background-color: #F8F5F0;
    padding: 15px;
}

#commentDetailBody {
    background-color: white;
}

#queryDetailTable {
    background-color: white;
}

#queryParametersDetailTable {
    background-color: white;
}

#privateCommentMenu::after {
    clear: both;
}

#commentMenu::after {
    clear: both;
}

#clusteringResults {
    display: flex;
}

#clusteringResultsOverview {
    width: 70%;
}

#clusterCenterLineChartsSVG {
    background-color: #fff;
}
