html,
body {
    height: 100%;
}

h5 {
    font-size: 0.9rem;
    color: #6c757d;
}

h6 {
    font-size: 0.75rem;
    color: #6c757d;
    margin-top: 0.5rem;
}

input[type=radio] {
    margin-right: .3125rem;
}

output {
    position: absolute;
    display: none;
    background-color: #fff;
    opacity: 0.8;
    border-radius: 3px;
    color: #777;
    font-size: .8em;
    text-align: center;
}

g.x_axis path, g.y_axis path {
    stroke: lightgray;
    stroke-width: 1px;
}

g.x_axis line, g.y_axis line{
    stroke: lightgray;
    stroke-opacity: 0.7;
    shape-rendering: crispEdges;
}

label.menuLabel {
    padding: 0px;
    margin-bottom: 0px;
}

.axisLabel {
    color: #3E3F3A;
}

.tooltip {
    padding: 3px 10px 3px 10px;
    position: absolute;
    pointer-events: none;
    background: white;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    font-size: 0.8rem;
}

.overlayPanel {
    padding: 3px 10px 3px 10px;
    position: absolute;
    background: white;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    font-size: 0.8rem;
}

.indentedRadio {
    margin-left: 1rem;
}

.featureColumn {
    min-height: 100vh;
}

.form-group {
    margin-bottom: 0.2rem;
}

.scatterplotsViewports {
    display:block;
}

.closePanel {
    background-color: #e6e6e6;
    color: #596066;
    font-size: 0.7rem;
    margin-top: 0.3rem;
    margin-bottom: 0.5rem;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
}

.controllersElem {
    padding: 15px;
}

.btn {
    margin-right: 0.1rem;
}

.btn-sm {
    height: 1.5rem;
    font-size: 0.7rem;
    line-height: 0.8rem;
}

.sub {
    width: 1.5rem;
}

.add {
    width: 1.5rem;
}

.custom-select {
    padding: 1px 5px;
}

.scatterplot {
    float: left;
}

.popover-controller {
    background-color: white;
    padding: 10px;
    border: solid;
    border-width: 1px;
    border-radius: 3px;
    border-color: dimgray;
}

.form-check-inline.menuItem {
    margin-right: 0px;
    padding-left: 0.5rem;
}
.form-check-input.menuCheck {
    margin-right: 0px;
    margin-left: 0px;
}

.detailTable {
    border-collapse:  collapse;
}

.matchingOption {
    margin-bottom: 0.5rem;
}

/* tr, td */
.detailTableRow .detailTableData {
    font-size: 0.8rem;
    border: solid 1px;
    border-color: dimgray;
    padding: 2px 7px;
}

.detailTableVari {
    font-style: italic;
}

.dropdownonTubeMenu {
    font-size: 0.875rem;
    color: #3E3F3A;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 0.25rem;
}

.outerContainer {
    display: inline-block;
    /*min-width: 100%;*/
}

.collapseBtn {
    position: absolute;
    font-size: 0.8rem;
    font-weight: bold;
    height: 1.5rem;
    /*top: 20px;*/
    /*left: 16%;*/
    /*border-radius: 5px 5px 0 0;*/
    background-color: #f8f9fa;
    border-style: none;
    /*transform: rotate(90deg);*/
}

.controllersOnView {
    margin: 0.2rem 1rem;
}

.maincontainer {
    display: flex;
    height: 100%;
}

.right {
    width: 25%;
    height: 100vh;
}

.contents{
    flex: 1;
    width: 100%;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

.custom-input {
    height: 1.5rem !important;
    border-radius: 3.2px !important;
}

.form-row {
    margin-right: 0px;
    margin-left: 0px;
}

.featureElem {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.featureRow {
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
}

.selectedLine {
    cursor: pointer;
    stroke: magenta;
}

.resultElem {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.resultSummary {
    width: 164px;
    /* height: 310px; */
    padding: 5px 7px;
    float: left;
    background-color: #fff;
    border: 1px solid rgba(223, 215, 202, 0.75);
    border-radius: 5px;
}

.resultSummaryCanvas {
    width: 150px;
    height: 150px;
}

/*#Controllers {*/
    /*background: #f8f9fa;*/
    /*font-size: 0.8rem;*/
    /*padding: 0.5rem 0px 1rem 0px;*/
    /*!*width: 16%;*!*/
    /*width: 250px;*/
    /*float: left;*/
/*}*/

#scatterplotsArea {
    padding: 0px;
    margin: 0px;
}

#tubeControllers {
    height: 2rem;
}

#TimeTubesMenu ul {
    padding-left: 1rem;
    padding-right: 1rem;
}

#TimeTubesMenu ul+ul {
    border-left:1px solid white;
}

#detailValueArea {
    background-color: rgba(0, 0, 0, 0.5);
}

#TimeTubesViewports {
    overflow-x: scroll;
    overflow-y: hidden;
    /*width: 100%;*/
    float: left;
}

#scatterplotsArea {
    overflow-x: scroll;
    overflow-y: hidden;
}

#collapseSidebar {
    float: left;
    z-index: 1010;
}

#collapseFeature {
    float: right;
    right: 0px;
    z-index: 1020;
}

#Feature {
    width: 100%;
    height: 100vh;
    background: #f8f9fa;
    float: right;
    padding: 0.5rem 0px 1rem 0px;
}

#extractionMenu {
    float: left;
    width: 30%;
}

#extractionResults {
    float: right;
    width: 70%;
    background-color: #DFD7CA;
}

#featureArea {
    font-size: 0.8rem;
}

#collapseSourcePanel{
    position: relative;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
}
